
:root {
  font-size: 24px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0C2340;
}



comp-lit {
  margin-top: calc(25vh - 2em);
  width: min(60vw, 600px);
  font-size: calc(.5rem + 3vmin);
}

comp-lit::part(term) {
  color: #0C2340;
}

comp-lit::part(list) {
  color: #76ABDF;
}

comp-lit::part(list expanded) {
  max-height: 50vh;
}

comp-lit::part(item highlight) {
  /* text-decoration: underline; */
}

comp-lit::part(match) {
  color: #99FFFF;
}
