
:root {
  font-size: 24px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0C2340;
}

comp-lit::part(term) {
  color: #0C2340;
}

comp-lit::part(list) {
  color: #76ABDF;
}

comp-lit::part(item highlight) {
  color: #0C2340;
}

comp-lit::part(match) {
  color: #99FFFF;
}
